<div class="container-fluid mt-4">
    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-2 text-gray-800">Atendimentos</h1> -->

    <!-- DataTales Example -->
    <div class="card shadow">
        <div class="card-header py-4">
            <div class="row  justify-content-center">
                <h4 class="m-1 font-weight-bold text-dark col-8"> Clientes </h4>
                <div class="col-md-auto">
                    <button class="btn btn-dark shadow" data-bs-target="#verAtendimentoCompletoModal"
                        (click)="openInformacoesClienteComponent()"> Informações <i class="fas fa-info-circle"></i>
                    </button>
                </div>
                <div class="align-items-center justify-content-center col-sm-12 col-md-auto  aling-right">
                    <button class="btn btn-dark shadow" data-bs-target="#verAtendimentoCompletoModal"
                        (click)="openCreateCliente()">Cadastrar <i class="fas fa-user-plus"></i></button>
                </div>

            </div>
        </div>
        <div class="card-body" style="height: 510px; overflow-y: auto;">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">

                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                                role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead class="text-center">
                                    <tr role="row">

                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable"
                                            rowspan="1" colspan="1"
                                            aria-label="Cliente: activate to sort column descending"
                                            aria-sort="ascending" style="width: 500px;"> Nome </th>

                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Position: activate to sort column ascending"
                                            style="width: 250px;"> CPF/CNPJ</th>

                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Office: activate to sort column ascending"
                                            style="width: 150px;"> RG</th>

                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Age: activate to sort column ascending"
                                            style="width: 150px;">Celular</th>

                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                            colspan="1" aria-label="Start date: activate to sort column ascending"
                                            style="width: 30px;">Info</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="odd text-truncate" *ngFor="let cliente of listaClientes">
                                        <td class="sorting_1">{{cliente.nome}}</td>
                                        <td class="">{{cliente.cpfcnpj}}</td>
                                        <td>{{cliente.rg}}</td>
                                        <td>{{cliente.celular}}</td>
                                        <td>
                                            <button class="btn btn-link" data-bs-toggle="modal"
                                                data-bs-target="#verDadosClienteModal" data-bs-whatever="@mdo"
                                                (click)="getInfoCliente(cliente)">

                                                <i class="far fa-file"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- modal de exibir dados completos do cliente -->
<div class="modal fade" id="verDadosClienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{infoCliente.nome}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form>
                    <div class="row container border border-grey ml-1 mr-1">
                        <div class=" col-sm-12 col-md">
                            <div class="row">
                                <label for="staticEmail"
                                    class="col-sm-auto col-form-label font-weight-bold">Nome:</label>
                                <div class="col-md">
                                    <input type="text" class="form-control-plaintext" id="staticNome"
                                        value="{{infoCliente.nome}}">
                                </div>
                            </div>
                            <div class="row">
                                <label for="staticEmail"
                                    class="col-sm-auto col-form-label font-weight-bold">CPF/CNPJ:</label>
                                <div class="col-md">
                                    <input type="text" class="form-control-plaintext" id="staticNome"
                                        value="{{infoCliente.cpfcnpj}}">
                                </div>
                            </div>
                            <div class="row">
                                <label for="staticEmail" class="col-sm-auto col-form-label font-weight-bold">RG:</label>
                                <div class="col-md">
                                    <input type="text" class="form-control-plaintext" id="staticNome"
                                        value="{{infoCliente.rg}}">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md">
                            <div class="row">
                                <label for="staticEmail"
                                    class="col-sm-auto col-form-label font-weight-bold">Telefone:</label>
                                <div class="col-sm-10 col-md">
                                    <input type="text" class="form-control-plaintext" id="staticPlaca"
                                        value="{{infoCliente.telefone}}">
                                </div>
                            </div>
                            <div class="row">
                                <label for="staticEmail"
                                    class="col-sm-auto col-form-label font-weight-bold">Celular:</label>
                                <div class="col-sm-10 col-md">
                                    <input type="text" class="form-control-plaintext" id="staticMarca"
                                        value="{{infoCliente.celular}}">
                                </div>
                            </div>
                            <div class="row">
                                <label for="staticEmail" class="col-sm-auto col-form-label font-weight-bold">Tipo de
                                    Cliente:</label>
                                <div class="col-sm-10 col-md">
                                    <input type="text" class="form-control-plaintext" id="staticModelo"
                                        value="{{infoCliente.tipocliente}}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row container border border-grey m-1">
                        <div class="col-sm-12 col-md">
                            <div class="row">
                                <label for="staticEmail"
                                    class="col-sm-auto col-form-label font-weight-bold">Endereço:</label>
                                <div class="col-sm-12 col-md">
                                    <input type="text" class="form-control-plaintext " id="staticEndRua"
                                        value="{{infoEnderecoCliente.rua}}">
                                    <input type="text" class="form-control-plaintext " id="staticEndNumero"
                                        value="{{infoEnderecoCliente.numero}}">
                                    <input type="text" class="form-control-plaintext " id="staticEndBairro"
                                        value="{{infoEnderecoCliente.bairro}}">
                                    <input type="text" class="form-control-plaintext " id="staticEndCidade"
                                        value="{{infoEnderecoCliente.cidade}}">
                                    <input type="text" class="form-control-plaintext " id="staticEndCidade"
                                        value="{{infoEnderecoCliente.estado}}">
                                    <input type="text" class="form-control-plaintext " id="staticEndCidade"
                                        value="{{infoEnderecoCliente.cep}}">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row container border border-grey m-1">
                        <form>
                            <div class="row container border border-grey ml-1 mr-1">
                                <div class=" col-sm-12 col-md">
                                    <div class="row">
                                        <label for="staticEmail"
                                            class="col-sm-auto col-form-label font-weight-bold">
                                            Oficina mais próxima desse cliente: </label>
                                    </div>
                                    <div class="col">
                                        <label for="staticEmail"
                                            class="col-sm-auto col-form-label font-weight-bold">Oficina:</label>
                                        <label class="form-control-plaintext">
                                            {{oficinaLocalizada.distancia_oficina.descricao_oficina}}</label>
                                    </div>
                                    <div class="col">
                                        <label for="staticEmail"
                                            class="col-sm-auto col-form-label font-weight-bold">Distância:</label>
                                        <label class="form-control-plaintext">
                                            {{oficinaLocalizada.distancia_oficina.distancia_em_km}}</label>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Fechar </button>

                <button type="button" class="btn btn-danger">Excluir Cliente</button>
                <button type="button" class="btn btn-warning">Atualizar Cliente</button>
            </div>
        </div>
    </div>
</div>