<form class="container d-flex align-items-center justify-content-center ">
    <div class=" mb-6 col-md-3 mx-auto ">

        <div class="row mt-5">
            <img src="./assets/img/iconLogin.png" class="rounded mt-5" alt="...">
            <label class="text-center mt-3">AUTO MECÂNICA LTDA</label>
        </div>

        <div class="row mt-5 form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="login.login" name="login">
            <label for="floatingInput">Login</label>
        </div>
        <div class="row mt-2 form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="login.senha" name="senha">
            <label for="floatingPassword">Senha</label>
        </div>

        <div class="row mt-4 ">
            <button type="submit" class="btn btn-dark mb-3 " (click)="fazerLogin()" >  Entrar  </button>
        </div>

    </div>
</form>

